@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
}

header{
    display: grid;
    grid-template-columns: 25% 30% 20% 25%;
    grid-template-rows: 1.7fr 3fr 1fr;
    grid-template-areas: "head1 head1 head2 head2"
                         ". . head2 head2"
                         "head3 head3 head2 head2";
}

#header1{
    grid-area: head1;
}

#header1 img{
    width: 130%;
}

#header2{
    grid-area: head2;
    padding-right: 60px;
}

#header-main-img{
    width: 100%;
    height: 100%;
}

#header3{
    grid-area: head3;
    font-family: 'Nunito Sans', sans-serif;
}

.how-to{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: "titleLog titleLog firstCol"
                         "secondCol midLog midLog"
                         "linesLog linesLog linesLog";
}

#how-to-div1{
    grid-area: titleLog;
    font-family: 'Nunito Sans', sans-serif;
}

#how-to-div1 img{
    position: relative;
    width: 63.5%;
    top: 25.5%;
    margin-left: 35px;
}

.big-title{
    font-size: 10vw;
    line-height: 12.5vw;
    margin-left: 15px;
    position: absolute;
}

.dot{
    width: 11.5vw;
    height: 11.5vw;
    border-radius: 20vw;
    background: #000000;
    margin-left: auto;
    margin-right: 20px;
}

.dot-list{
    margin-top: 200px;
    margin-bottom: 0px;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
}

.dot-list span{
    font-size: 80px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}

.dot-list h3{
    font-size: 110px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    margin: 0px;
    border-bottom: 1px solid #000000;
}

.dot-list-line{
    border-bottom: 1px solid #000000;
    padding: 20px 0 3px 0;
}


.dot-name{
    font-size: 24px;
    width: 200px;
}

.dot-onoff{
    width: 50px;
    font-size: 16px;
    position: relative;
    left: 90%;
    top: -22px;
}

#how-to-div4 img{
    width: 98%;
}

#how-to-div5 span{
    font-size: 80px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}

#how-to-div5 h3{
    font-size: 110px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    margin: 0px;
    border-bottom: 1px solid #000000;
}

#how-to-div1 h2{
    margin: 0px;
}

#how-to-div2{
    grid-area: firstCol;
}

#how-to-div3{
    grid-area: secondCol;
}

#how-to-div4{
    grid-area: midLog;
}

#how-to-div5{
    grid-area: linesLog;
}

.yellow-bg{
    background-color: rgb(255, 204, 0);
}

.blue-bg{
    background-color: rgb(0, 153, 255);
}

.purple-bg{
    background-color: rgb(102, 0, 153);
}

.container-fluid{
    width: 100%;
}